@font-face {
    font-family: Cormorant_Unicase; /* Гарнитура шрифта */
    src: url(fonts/CormorantUnicase-Medium.ttf); /* Путь к файлу со шрифтом */
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Cormorant_Unicase;


}
.pull-center {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(image/indexPhoto.jpg);
    background-repeat: no-repeat; /* Отменяем повторение фона */

    background-size: 100%;
}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items:center;
}
header > img{
    margin: 10px 60px;
}
.podpis{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24em;

    color: #FFFFFF;
}
header > a > img{
    margin: 10px 60px;
}
.formIndex{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items:center;
}
.buttonGo{
    width: 359px;
    height: 64px;
    background: #FFD600;
    color: black;
    border: none;
    font-size: 40px;

}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items:center;
}
.listDateInp{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items:center;
}
.listDateInp >div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    text-align: center;
    font-size: 32px;
    color: white;
    width: 570px;
    height: 240px;
    border: 1px solid white;
}


