@font-face {
    font-family: Cormorant_Unicase; /* Гарнитура шрифта */
    src: url(fonts/CormorantUnicase-Medium.ttf); /* Путь к файлу со шрифтом */
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Cormorant_Unicase;
}
body {
    background: linear-gradient(180deg, #43535E 0%, #61615F 100%) fixed;
}

header{
    width: 100%;
    height: 100px;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items:center;
}
header > a > img{
    margin: 10px 60px;
}
header > a {

    color: white;
    font-size: 2.1em;
    text-decoration:none;
}
header >img{
    margin: 10px 60px;
}
.peoples{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items:center;
}
.klient{
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items:center;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid white;
    color: white;
    font-size: 30px;
    padding: 10px 30px;
}
.but{
    color: black;
    font-size: 25px;
    padding: 10px 15px;
    background: #FFD600;
}

