@font-face {
    font-family: Cormorant_Unicase; /* Гарнитура шрифта */
    src: url(fonts/CormorantUnicase-Medium.ttf); /* Путь к файлу со шрифтом */
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Cormorant_Unicase;
}
body {
    background: linear-gradient(180deg, #43535E 0%, #61615F 100%) fixed;
}

header{
    width: 100%;
    height: 100px;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items:center;
    border-bottom:1px solid white ;
    margin-bottom: 10px;
}
header > a > img{
    margin: 10px 60px;
}
header > a {

    color: white;
    font-size: 1.9em;
    text-decoration:none;
}
header >img{
    margin: 10px 60px;
}
.autoApp{
    width: 70%;
    border: 1px solid white;
    margin:auto;
    padding: 10px;
}
.infoFirst{
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items:center;
}
.sect1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:flex-start;
}
.sect1{
    font-size: 40px;
    color: white;
}
.nameAuto{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items:center;
}
.infoSec{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items:center;
}
.buttonsOne{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items:center;
}
.buttonsTwo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items:center;
}
.butEdit{
    width: 210px;
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.butDTP{
    background: #FFD600;
    width: 85px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.infoSecond{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items:center;

}
.secs1{
    display: flex;
    flex-direction: column;
    width: 35%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    color: white;
    border: 1px solid white;
}
.secs2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    color: white;
}
.secs2 > div{
    padding: 5px;
}

.secs1 > div{
    padding: 6px;

}
