<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta>
    <title>Оформлення</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/addCar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

<header>
    <a href="index.html"><img src="image/iconsLogo.png"></a>
    <a href="inputCabinet.html"> <img src="image/iconsPeopleAdmin.png"></a>
</header>


<div class="container">
    <form id ="formInr"  th:method="POST" th:action="@{/autoAdmin/new}">

        <div class="row">
            <div class="col-25">
                <label for="marka">Марка авто</label>
            </div>
            <div class="col-75">
                <input type="text" id="marka" name="marka" placeholder="">
            </div>
            <div style="color: #FFD600; margin: 30px 0px;" th:text="${errorMessage}"></div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="model">Модель авто</label>
            </div>
            <div class="col-75">
                <input type="text" id="model" name="model" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="photo_auto">Фото авто</label>
            </div>
            <div class="col-75">
                <input type="file" accept="image/png, image/jpeg" id="photo_auto" name="photo_auto" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="engine_volume">Об'єм двигуна</label>
            </div>
            <div class="col-75">
                <input type="text" id="engine_volume" name="engine_volume" placeholder="">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="count_passenger">Кількіть пасажирів</label>
            </div>
            <div class="col-75">
                <input type="text" id="count_passenger" name="count_passenger" placeholder="">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="age">Рік випуску</label>
            </div>
            <div class="col-75">
                <input type="text" id="age" name="age" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="price_rental">Ціна за добу</label>
            </div>
            <div class="col-75">
                <input type="text" id="price_rental" name="price_rental" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="percent">Процент зниження</label>
            </div>
            <div class="col-75">
                <input type="text" id="percent" name="percent" placeholder="">
            </div>
        </div>



        <div class="row">
            <div class="col-25">
                <label for="fuel_tupe">Тип палива</label>
            </div>
            <div class="col-75">
                <select id="fuel_tupe" name="fuel_tupe">
                    <option value="бензин">Бензин</option>
                    <option value="дизель">Дизель</option>
                    <option value="електро">Електро</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="tip_transmission">Тип коробки передач</label>
            </div>
            <div class="col-75">
                <select id="tip_transmission" name="tip_transmission">
                    <option value="автомат">автомат</option>
                    <option value="механіка">механіка</option>

                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="tip_unit">Тип приводу</label>
            </div>
            <div class="col-75">
                <select id="tip_unit" name="tip_unit">
                    <option value="повний">повний</option>
                    <option value="перекдній">передній</option>
                    <option value="задній">задній</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="tip">Тип авто</label>
            </div>
            <div class="col-75">
                <select id="tip" name="tip">
                    <option  th:each="tip_auto : ${listTip}" th:value="${tip_auto.getId()}" th:text="${tip_auto.getName()}">Бюджет</option>
                </select>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Додати">
        </div>
    </form>
</div>


<script type="text/javascript">

    $('#formInr input').keydown(function(e){
        if (  e.keyCode == 13) {
            $('#formInr').submit();
        }
    })

</script>
</body>
</html>