<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<style>
  *{
    padding: 0px;
    margin: 0px;
    font-family: Cormorant_Unicase;
    color: white;
  }
  body {
    background: linear-gradient(180deg, #43535E 0%, #61615F 100%) fixed;
  }
  .podp{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 5em;
  }
</style>
<body>

<div class="podp"> Ваше замовлення прийнято,<br>Ми вам передзвонимо протягом 10 хв</div>

<a href="/">Create new person</a>
</body>
</html>