<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клієнт</title>
    <link href="/resources/css/klientStyleAll.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<header>
    <a href="/"><img th:src="@{/resources/image/iconsLogo.png}"></a>
    <a href="/autoAdmin">Автомобілі</a>
    <a href="/appeal">Замовлення</a>
    <a href="/appeal/arhiw">Архів</a>
    <a href="/klient/klentsAdmin"  style="color: #FFD600;;">Клієнти</a>
    <a href="/logout"> <img th:src="@{/resources/image/iconsPeopleAdmin.png}"></a>
</header>

<div class="klientInfo"  >
    <div th:text="${klientInfo.getFirst_name() + ' '+ klientInfo.getLast_name()+ ' ' + klientInfo.getPatronymic()}">
        Мортин Антон Сергеевич
    </div>
    <div th:text="${'Номер тел. -'+klientInfo.getPhone_number()}">
        Тел - +380976523566
    </div>
</div>
<div class="autoApp"   th:each="appeal : ${appealAll}">>
    <div class="infoFirst">
        <div class="sect1">
            <div class="nameAuto" style="color: #FFD600" th:text="${appeal.getName_car()}">Chevrole Spark </div>

        </div>

    </div>
    <div class="infoSecond">

        <div class="secs1">
            <div style="font-size: 25px;" >Отримання</div>
            <div style="font-size: 25px; color:#B0B0B0;" th:text="${appeal.getPlace_issue()}">Драматичний театр</div>
            <div style="font-size: 25px;" th:text="${appeal.getDate_issue()}"> 23 березня</div>
        </div>
        <div class="secs1">
            <div style="font-size: 25px;">Повернення</div>
            <div style="font-size: 25px; color:#B0B0B0;"  th:text="${appeal.getPlace_return()}">Залізничний вокзал</div>
            <div style="font-size: 25px;" th:text="${appeal.getDate_return()}"> 31 березня</div>
        </div>
        <div class="secs2">
            <div style="font-size: 25px; color: white; border: 1px solid white; width: 300px;text-align: center;"th:text="${appeal.getPrice_day() + ' грв / день'}">650 грв / день</div>
            <div style="font-size: 25px; color: white; border: 1px solid white; width: 300px;text-align: center;" th:text="${appeal.getCount_day() + ' днів'}"> 8 днів</div>
            <div style="font-size: 25px; color: white; border: 1px solid white; width: 300px;text-align: center;" th:text="${'Загалом : '+appeal.getAll_price() + ' грв'}">Загалом : 5200 грв</div>
        </div>

    </div>

</div>

</body>
</html>