.glyphicon-time:before {
    content: url("image/timeIcons.png");
}
	.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 270px;
  height: 55px;
  border: 1px solid white;
  background: none;
  font-size: 30px;
  border-radius: 0px; 
  text-align: center;
  color: white;
  margin-bottom: 0;
}
.input-group-addon {
  padding: 5px 10px;
  font-size: 14px;
   border-radius: 0px; 
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: none;
  border: 1px solid white;
}
.input-group .form-control:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.input-group {
	width: 110px;
	margin-bottom: 10px;
margin: auto;
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-addon:last-child {
    border-left: 0;
}
.clearfix:before,
.clearfix:after
 {
  display: table;
  content: " ";
}
.clearfix:after
{
  clear: both;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}